@{
  ViewData["Title"] = "Trang chủ";
}

<div class="container-fluid px-4">
  <ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item active">Lịch xin nghỉ của nhân viên</li>
  </ol>
  <div id="calendar"></div>
</div>

<div aria-hidden="true" class="inmodal modal" id="calendarModal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="animated bounceInRight modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="margin-left:42%">Chi tiết</h4>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-form-label col-lg-4 font-bold">Tên đơn xin nghỉ:</label>
          <div class="col-lg-8">
            <p class="form-control-plaintext lblName"></p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-lg-4 font-bold">Từ ngày:</label>
          <div class="col-lg-8">
            <p class="form-control-plaintext lblFrom"></p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-lg-4 font-bold">Đến ngày:</label>
          <div class="col-lg-8">
            <p class="form-control-plaintext lblTo"></p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-lg-4 font-bold">Thời gian:</label>
          <div class="col-lg-8">
            <p class="form-control-plaintext lblDuration"></p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-lg-4 font-bold">Nhân viên:</label>
          <div class="col-lg-8">
            <p class="form-control-plaintext lblEmployee"></p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-lg-4 font-bold">Mã nhân viên:</label>
          <div class="col-lg-8">
            <p class="form-control-plaintext lblEmployeeCode"></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-white" data-bs-dismiss="modal" type="button">Đóng</button>
      </div>
    </div>
  </div>
</div>

@section Styles {
  <link href="~/libs/fullcalendar/main.css" rel="stylesheet">
}

@section Scripts {
  <!-- Full Calendar -->
  <script src="~/libs/fullcalendar/main.js"></script>
  <script src='~/libs/fullcalendar/locales/vi.js'></script>

  <script type="text/javascript">
    $(document).ready(function () {
      let calendarEl = document.getElementById('calendar');
      let calendar = new FullCalendar.Calendar(
        calendarEl,
        GetFullCalendarSetup({
          events: {
            url: '@Url.Action("GetTimeOffToCalendar", "TimeOffRequest")',
            method: 'GET',
            extraParams: () => {
            }
          },
          eventClick: (info) => {
            info.jsEvent.preventDefault(); // don't let the browser navigate
            if (info.event.id) {
              $.get(
                '@Url.Action("GetEventById", "TimeOffRequest")',
                { id: info.event.id },
                (response) => {
                  if (response != null) {
                    let d = response;
                    $('#calendarModal .modal-body .lblName').html(d.description);
                    $('#calendarModal .modal-body .lblFrom').html(d.fromDateText);
                    $('#calendarModal .modal-body .lblTo').html(d.toDateText);
                    $('#calendarModal .modal-body .lblDuration').html(d.duration);
                    $('#calendarModal .modal-body .lblEmployee').html(d.userName);
                    $('#calendarModal .modal-body .lblEmployeeCode').html(d.userCode);
                    $('#calendarModal').modal('show');
                  }
                }
              )
            }
          }
        })
      );
      calendar.render();
    });
  </script>
}