@model eSolutionTech.ViewModels.Catalog.TimeOffTypes.TimeOffTypeCreateRequest

@{
    ViewData["Title"] = "Tạo mới loại ngày nghỉ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Tạo mới chức vụ</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="TimeOffType">Về danh sách</a>
        </div>
        <div class="card-body">
            <div class="col-md-4">
                <form asp-action="Create" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Code" class="control-label"></label>
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RequestUnit" class="control-label"></label>
                        <select asp-for="RequestUnit" id="select" class="form-control">
                            <option value="1">Ngày</option>
                            <option value="2">Nửa ngày</option>
                        </select>
                        <span asp-validation-for="RequestUnit" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Unpaid" class="control-label"></label>
                        <select asp-for="Unpaid" id="select" class="form-control">
                            <option value="true">Có</option>
                            <option value="false">Không</option>
                        </select>
                        <span asp-validation-for="Unpaid" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
