@model eSolutionTech.ViewModels.Catalog.TimeOffTypes.TimeOffTypeUpdateRequest

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <ol class="breadcrumb mb-4 mt-4">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
        <li class="breadcrumb-item active">Cập nhật loại ngày nghỉ</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="TimeOffType">Về danh sách</a>
        </div>
        <div class="card-body">
            <div class="col-md-4">
                <form asp-action="Edit" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group visually-hidden">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" readonly="readonly" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Tên</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Code" class="control-label">Mã loại ngày nghỉ</label>
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label">Mô tả</label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RequestUnit" class="control-label">Nghỉ theo</label>
                        <select asp-for="RequestUnit" id="select" class="form-control">
                            <option value="1">Ngày</option>
                            <option value="2">Nửa ngày</option>
                        </select>
                        <span asp-validation-for="RequestUnit" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                      <label asp-for="StartDate" class="control-label">Ngày bắt đầu</label>
                        <input asp-for="StartDate" type="date" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                      <label asp-for="EndDate" class="control-label">Ngày kết thúc</label>
                        <input asp-for="EndDate" type="date" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Unpaid" class="control-label">Có trả lương</label>
                        <select asp-for="Unpaid" id="select" class="form-control">
                            <option value="true">Có</option>
                            <option value="false">Không</option>
                        </select>
                        <span asp-validation-for="Unpaid" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

