@model eSolutionTech.ViewModels.Catalog.ShiftSettings.ShiftSettingUpdateRequest

@{
  ViewData["Title"] = "Edit";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
  <ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
    <li class="breadcrumb-item active">Cập nhật khai báo</li>
  </ol>
  <div class="card mb-4">
    <div class="card-header">
      <a class="btn btn-success" asp-action="Index" asp-controller="TimeOffType">Về danh sách</a>
    </div>
    <div class="card-body">
      <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <input asp-for="Id" class="form-control" type="hidden" />
          <div class="form-group">
            <label asp-for="Code" class="control-label">Mã loại khai báo</label>
            <input asp-for="Code" class="form-control" />
            <span asp-validation-for="Code" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label asp-for="Name" class="control-label">Tên loại khai báo</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
          </div>
          <div class="form-group clockpicker">
            <label asp-for="TimeIn" class="control-label">Thời gian vào</label>
            <input asp-for="TimeIn" class="form-control" />
            <span asp-validation-for="TimeIn" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label asp-for="ExceedTimeIn" class="control-label">Thời gian quá hạn vào</label>
            <input asp-for="ExceedTimeIn" class="form-control" />
            <span asp-validation-for="ExceedTimeIn" class="text-danger"></span>
          </div>
          <div class="form-group clockpicker">
            <label asp-for="TimeOut" class="control-label">Thời gian ra</label>
            <input asp-for="TimeOut" class="form-control" />
            <span asp-validation-for="TimeOut" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label asp-for="RestTime" class="control-label">Thời gian nghỉ</label>
            <input asp-for="RestTime" class="form-control" />
            <span asp-validation-for="RestTime" class="text-danger"></span>
          </div>
          <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

@section Styles {
  <link href="~/libs/daterangepicker/daterangepicker.css" rel="stylesheet" />
  <link href="~/libs/clockpicker/clockpicker.css" rel="stylesheet" />
}
@section Scripts{
  <script src="~/libs/clockpicker/clockpicker.js" type="text/javascript"></script>
  <script type="text/javascript">
    $('.clockpicker').clockpicker({
      donetext: 'Done',
      twelvehour: false,
      autoclose: false,
      leadingZeroHours: false,
      afterHourSelect: function () {
        $('.clockpicker').clockpicker('realtimeDone');
      },
      afterMinuteSelect: function () {
        $('.clockpicker').clockpicker('realtimeDone');
      }
    });
  </script>
}
